.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
    -fx-alignment: center-right;
    -fx-content-display: right;
    -fx-cursor: hand;
}

.jfx-list-cell Label {
    -fx-content-display: right;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -fx-font-size: 18px;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
}

/*******************************************************************************
 *                                                                             *
 * JFX Icons                                                                   *
 *                                                                             *
 ******************************************************************************/

.icon {
    -fx-fill: #FE774D;
    -fx-padding: 10.0;
    -fx-cursor: hand;
}

.icons-rippler {
    -jfx-rippler-fill: #FE774D;
    -jfx-mask-type: CIRCLE;
}

.icons-rippler1 {
    -jfx-rippler-fill: #4285F4;
    -jfx-mask-type: CIRCLE;
}

.icons-rippler:hover {
    -fx-cursor: hand;
}
