.base {
    -fx-background-color: #E0E0E0;
}

.error-toast .jfx-snackbar-content {
    -fx-background-color: #c62828;
    -fx-background-radius: 10 10 0 0;
}

.error-toast .jfx-snackbar-toast {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.error-toast .jfx-snackbar-action {
    -fx-text-fill: WHITE;
}

.success-toast .jfx-snackbar-content {
    -fx-background-color: #2e7d32;
    -fx-background-radius: 10 10 0 0;
}

.success-toast .jfx-snackbar-toast {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.success-toast .jfx-snackbar-action {
    -fx-text-fill: WHITE;
}

.warning-toast .jfx-snackbar-content {
    -fx-background-color: #ef6c00;
    -fx-background-radius: 10 10 0 0;
}

.warning-toast .jfx-snackbar-toast {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.warning-toast .jfx-snackbar-action {
    -fx-text-fill: WHITE;
}

.content-style {
    -fx-cursor: hand;
    -fx-padding: 10 2;

}

.content-style:hover {
    -fx-background-color: #bdbdbd;

}

.header-bar {
    -fx-border-color: #9E9E9E;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-insets: 0 0 5 0;
    -fx-padding: 5;
}

.selectBox {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 5;
    -fx-padding: 35 10;
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-effect: dropshadow(three-pass-box, #9E9E9E, 10, 0, 0, 0);;
}

.jfx-dialog {
    -fx-background-color: rgba(33, 33, 33, 0.51)
}

.jfx-dialog > StackPane {
    -fx-background-radius: 10;
    -fx-background-color: #f9fbe7;
}

#txaDescriptionShow > .scroll-pane{

    -fx-vbar-policy:always; /* Control the vertical ScrollBar (always,needed,never) */
    -fx-hbar-policy:always; /* Control the horizontal ScrollBar (always,needed,never) */

}
#txaDescriptionC > .scroll-pane{

    -fx-vbar-policy:always; /* Control the vertical ScrollBar (always,needed,never) */
    -fx-hbar-policy:always; /* Control the horizontal ScrollBar (always,needed,never) */

}
/*
* *************************************
* Button
* *************************************
*/

.header-button {
    -fx-cursor: hand;
    -jfx-disable-visual-focus: true;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.header-button .jfx-rippler {
    -jfx-rippler-fill: #757575;
}

.default-button {
    -fx-text-fill: #212121;
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 10;
    -fx-border-radius: 5;

}

.primary-button {

    -fx-background-radius: 10;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #2196F3;
    -fx-border-radius: 5;
}

.green-background {
    -fx-background-color: #2196F3;
}

.back-button {
    -fx-background-image: url('/image/back.png');
}

.home-button {
    -fx-background-image: url('/image/home.png');

}

.settings-button {
    -fx-background-image: url('/image/settings.png');
}

.table-row-button {
    -fx-cursor: hand;
    -jfx-disable-visual-focus: true;
    -jfx-button-type: RAISED;
    -fx-background-radius: 3;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.table-row .jfx-rippler {
    -jfx-rippler-fill: #757575;
}

.delete-table-row-button {
    -fx-background-image: url('/image/delete-table-row.png');
}

.edit-table-row-button {
    -fx-background-image: url('/image/edit-table-row.png');
}

.visit-table-row-button {
    -fx-background-image: url('/image/visit-table-row.png');
}

.send-table-row-button {
    -fx-background-image: url('/image/send-table-row.png');
}

/*
* *************************************
* Card
* *************************************
*/

.storeroom-card {
}

.storeroom-card .bodyStyleClass {
    -fx-background-color: #90caf9;
    -fx-border-color: #344a63;
}

.warehouse-card {
}

.warehouse-card .bodyStyleClass {
    -fx-background-color: #bbdefb;
    -fx-border-color: #4d5b65;
}

.warehouse-manage {
}

.warehouse-manage .bodyStyleClass {
    -fx-background-color: #bbdefb;
    -fx-border-color: #4d5b65;
}

.project-card {
}

.project-card .bodyStyleClass {
    -fx-background-color: #90caf9;
    -fx-border-color: #344a63;
}

.human-resource-card {
}

.human-resource-card .bodyStyleClass {
    -fx-background-color: #64b5f6;
    -fx-border-color: #314863;
}

.my-note-category-card {
}

.my-note-category-card .bodyStyleClass {
    -fx-background-color: #42a5f5;
    -fx-border-color: #173653;
}
