* {
    -fx-font-family: "shabnam";
    -fx-font-size: 32;
}

.base {
    -fx-background-color: #E0E0E0;
}

.header-bar {
    -fx-border-color: #9E9E9E;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-insets: 0 0 5 0;
    -fx-padding: 5;
}

.selectBox {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 5;
    -fx-padding: 35 10;
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-effect: dropshadow(three-pass-box, #9E9E9E, 10, 0, 0, 0);;
}

.jfx-dialog {
    -fx-background-color: rgba(33, 33, 33, 0.51)
}

.jfx-dialog > StackPane {
    -fx-background-radius: 10;
    -fx-background-color: #f9fbe7;
}
/*
* *************************************
* Button
* *************************************
*/

.header-button {
    -fx-cursor: hand;
    -jfx-disable-visual-focus: true;
    -fx-pref-width: 96;
    -fx-pref-height: 64;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.header-button .jfx-rippler {
    -jfx-rippler-fill: #757575;
}

.default-button {
    -fx-text-fill: #212121;
    -fx-padding: 10 50;
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 10;
    -fx-border-radius: 5;

}

.primary-button {

    -fx-background-radius: 10;
    -fx-text-fill: #F5F5F5;
    -fx-padding: 10 50;
    -fx-background-color: #2196F3;
    -fx-border-radius: 5;
}

.green-background {
    -fx-background-color: #4CAF50;
}

.back-button {
    -fx-background-image: url('/image/back.png');
}

.home-button {
    -fx-background-image: url('/image/home.png');

}

.settings-button {
    -fx-background-image: url('/image/settings.png');
}

.table-row-button {
    -fx-cursor: hand;
    -jfx-disable-visual-focus: true;
    -jfx-button-type: RAISED;
    -fx-pref-width: 52;
    -fx-pref-height: 52;
    -fx-background-radius: 3;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.table-row .jfx-rippler {
    -jfx-rippler-fill: #757575;
}

.delete-table-row-button {
    -fx-background-image: url('/image/delete-table-row.png');
}

.edit-table-row-button {
    -fx-background-image: url('/image/edit-table-row.png');
}

/*
* *************************************
* Card
* *************************************
*/

.storeroom-card {
    -fx-pref-width: 350.0;
    -fx-pref-height: 160.0;
    -fx-min-width: 350.0;
    -fx-min-height: 160.0;
}

.storeroom-card .bodyStyleClass {
    -fx-background-color: #FFEB3B;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0.5;
    -fx-border-color: #F57F17;
}

.project-card {
    -fx-pref-width: 350.0;
    -fx-pref-height: 160.0;
    -fx-min-width: 350.0;
    -fx-min-height: 160.0;
}

.project-card .bodyStyleClass {
    -fx-background-color: #8BC34A;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0.5;
    -fx-border-color: #33691E;
}

.human-resource-card {
    -fx-pref-width: 350.0;
    -fx-pref-height: 160.0;
    -fx-min-width: 350.0;
    -fx-min-height: 160.0;
}

.human-resource-card .bodyStyleClass {
    -fx-background-color: #8c9eff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0.5;
    -fx-border-color: #1a237e;
}